.usercard {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.usercard img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.usercard .text .zuid {
    color: #525657;
    font-size: 1.4rem;
    line-height: 2.3rem;
}

.usercard .text .name {
    font-size: 1.8rem;
    text-transform: capitalize;
}
