.cardContainer {
    padding: 1rem !important;
}

.cardContainer .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.8rem;
}

.cardContainer .header select {
    border: 1px solid #97969970;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #585759;
}

.cardContainer .Cards {
    flex: 3.5;
    height: 14vh;
    display: flex;
    gap: 1rem;
}

.app.dark .cardContainer .header select {
    background-color: #333;
    border: 1px solid #666;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}
